
snippet cptemplate "C++ competetive programming template"
#include <bits/stdc++.h>

// I know... but we've to code fast!
using namespace std;

void solve()
{
}

int main(int argc, char** argv)
{
    // fast IO - don't flush between std::cout and printf
    ios::sync_with_stdio(false);

    // Stop automatic flushing
    cin.tie(NULL);

    solve();
}
endsnippet
